<ng-container>
  <div class="images-container">
    <mat-card *ngFor="let photo of photos; trackBy: trackByPhotoId"
              class="image-block"
              (click)="getIntoDetails(photo.id)">
      <img mat-card-image
           *ngIf="photo.url"
           [src]="photo.download_url"
           [alt]="photo.author"
           width="200"
           height="300"/>
      <mat-card-content>
        <p class="image-author">{{ photo.author }}</p>
      </mat-card-content>
    </mat-card>
    <p *ngIf="photos.length === 0">No favorites yet</p>
  </div>
</ng-container>
