<ng-container>
  <div class="images-container">
    <mat-card *ngFor="let photo of photos; trackBy: trackByPhotoId"
              class="image-block"
              [ngClass]="{'favorite': isFavorite(photo)}"
              (click)="addToFavoritePhoto(photo)">
      <img mat-card-image
           *ngIf="photo.url"
           [src]="photo.download_url"
           [alt]="photo.author"
           width="200"
           height="300"/>
      <mat-card-content>
        <p class="image-author">{{ photo.author }}</p>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="loading-space">
    <mat-spinner *ngIf="loading" diameter="40"></mat-spinner>
    <p *ngIf="loading">Loading...</p>
  </div>
</ng-container>
